body{
    background-image: url(../images/why-us/presences.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top;
    height: 100vh;
}
.profile_con{
    position: absolute;
    top: 13%;
    right: 2%;
}
.form{
    height: 573px;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    position: relative;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c2d2e3b;
    width: 94vw;
    height: 81vh;
}

footer{
    visibility: hidden;
}